$primary-color: #0eccdd;
$light-color: #fafafa;
$white-color: #ffffff;
$lighter-color: #fcfcfc;
$black-color: #000000;
$dark-color: #2d2d2d;
$gray-color: #bdbdbd;
$grayer-color: #a09f9f;

$colors: (
  "primary": $primary-color,
  "light": $light-color,
  "white": $white-color,
  "black": $black-color,
  "dark": $dark-color,
  "gray": $gray-color,
);
