.sellect-container {
  width: 40rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sellect_title {
  font-family: "Roboto-Regular-400";
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}
